@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  height: 100%;
}

#app{
  height: 100%;
}

#root{
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #7d7373;
  border-radius: 22px;
}

.translate-z{
  transform: translateZ(100px);
}
.translate-z-negative canvas{
  transform: translateZ(-100px);
}

.white-filter{
  filter: invert(98%) sepia(3%) saturate(3%) hue-rotate(158deg) brightness(113%) contrast(100%);
}